// https://codepen.io/noeldelgado/pen/oLxYQp
body{

}
.loading{
  overflow:hidden;

  .modal{
      display:flex;  
      animation: revealContents 3s forwards;
      
   }
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-color: #fff;

}

@keyframes revealContents {
  0%{opacity: 1;}
  30%{opacity:1;}
  100%{opacity:0;}
}